appdirs==1.4.3
Brlapi==0.6.2
chardet==2.3.0
colorama==0.3.2
Django==1.7.11
html5lib==0.999
louis==2.5.3
Mako==1.0.0
MarkupSafe==0.23
packaging==16.8
pygobject==3.14.0
pyparsing==2.2.0
python-apt==0.9.3.12
python-debian==0.1.27
pytz==2012rc0
pyxdg==0.25
requests==2.4.3
six==1.10.0
sqlparse==0.1.13
unattended-upgrades==0.1
urllib3==1.9.1
virtualenv==15.1.0
